* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::selection {
  color: white;
  background: black;
}

body {
	 font-family: "Courier", monospace;
	 font-size: 16px;
                                                
}

h2 {font-size: 19px;
}


nav {
	padding: 10px 60px 5px;
}

main {
	margin: 60px 170px;
}

footer {
	position: fixed; 
    bottom: 0;
    left: 0;
    right: 0;
	background-color:inherit;
}

.banner {
    display:block;
    margin-left:auto;
    margin-right:auto;
}


.top-nav {
	position: fixed; 
    top: 0;
    left: 0;
    right: 0;
	background-color:inherit;
	z-index: 999;
}



[id^=masonry-] {
    column-gap: 5px;
    column-fill: initial;
    column-width: 250px;
}

#masonry-news, #masonry-digital {
    column-gap: 6px;
    column-fill: initial;
    column-width: 300px !important;
}

[id^=masonry-] > * {
    break-inside: avoid;
}


.brick {
	position: relative;
    position: relative;
    display: inline-block;
    width: 100%;
}

p a, p a:hover {color:black;}


.tag {
	 text-decoration: none;
	 border-radius: 16px;
	 text-transform: none;
	 font-size: 1.1rem;
	 cursor:pointer;
}

.project-link {
	color: white;
}

.project-cover {
    display: block;
    width: 100%;
    height: auto;
}

.project-description {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    background: black;
    color: white;
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    padding: 1em; 
    box-sizing: border-box;
}

.project-description .tags {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

.tags a, .tags a:hover, .brick a, .brick a:hover {color: white}


.brick:hover .cover, .brick:active .cover  {
    display: none;
}

.brick:hover .project-description, .brick:active .project-description {
    opacity: 1;
    visibility: visible;
}

.social {
	width: 3rem;
}

.photo {
	max-width: 60%;
	display: block;
    margin-left: auto;
    margin-right: auto;
	margin-bottom: 10px;
}

.popup, .popup-full {

    z-index: 2000;
    position: fixed; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.1);
    max-width: calc(100vw - 30vw);  
    max-height: calc(100vh - 30vh);

}

.popup .row >:first-child {
    
    overflow: hidden;          
    max-width: 100%;         
    max-height: 100%;
    padding:20px; 
}

.popup-cover {

    height: 100%;
    object-fit: cover;
}

.full {

    height: 100%;
    object-fit: cover;
}



@media only screen and (max-width: 600px) {
  main {
	margin: 170px 40px;
}

nav {
	font-size: 12px;
}

.popup , .popup-full {

    max-width: calc(100vw - 70px);  
}

.nav a,
.nav .brand {
  padding: 0.5rem 1rem;
}

.banner {
	visibility:hidden;
}
.photo {
	max-width: 100%;
}

[id^=masonry-] {
        column-width: 100%;
        column-gap: 0;
    }

    .brick {
        width: 100%;
        padding: 0; 
    }

    [id^=masonry-] > * {
        break-inside: auto; 
    }

}

@media only screen and (min-width: 1930px) {

[id^=masonry-] {
    column-width: 350px;

}

.popup {

    width: calc(100vw - 140px);  
    height: calc(100vh - 140px);
}


  main {
	margin: 150px 200px;
}
}


